<% require 'cgi' %>
<!DOCTYPE html>
<html>
	<head>
		<title>MyRead - Home</title>
<style>
body {
	font-family: 'Roboto', sans-serif;
	background-color: #191919;
	color: #D9D9D9;
}
h1, h2, h3, h4, h5 {
	color: #D93F3F;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: #D93F3F;
}
input[type=text], input[type=password] {
	background-color: #D9D9D9 !important;
	color: #191919;
	padding: 12px 12px;
	border: none;
	outline: none;
}
input[type=submit] {
	background-color: #D93F3F;
	color: #191919;
	padding: 12px 24px;
	border: none;
	outline: none;
}
</style>
	</head>
	<body>
		<h1>MyRead - Home</h1>
	<% if !session[:id] %>
		<p>You shall not pass!</p>
		<img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F833%2F1*kmsuUjqrZUkh_WW-nDFRgQ.gif&f=1&nofb=1' width='200px' height='auto'>
		<h2>Login</h2>
		<form method="post" action="/login" autocomplete="off">
			<input placeholder='Username' id="name" name="name" type="text"></input>
			<input id="pass" placeholder='Password' name="pass" type="password"></input>
			<input type="submit" value="Login"></input>
		</form>

		<h2>Register</h2>
		<ul>
			<li>Minimum 9 characters, maximum 64</li>
			<li>Minimum 1 English uppercase + lowercase letter</li>
			<li>Minimum 1 digit</li>
			<li>Minimum 1 of these special characters - @$!%*?&</li>
      <li>Must not include username</li>
      <li>Username may only contain alphanumeric characters or single hyphens, and cannot begin or end with a hyphen.</li>
		</ul>
		<form method="post" action="/register">
			<input placeholder='Username' id="name" name="name" type="text"></input>
			<input placeholder='Password' id="pass" name="pass" type="password"></input>
			<input type="submit" value="Register"></input>
		</form>

	<% else %>
		<video width='200px' height='auto' autoplay muted loop>
			<source src="https://media.giphy.com/media/Nx0rz3jtxtEre/giphy.mp4" type="video/mp4">
		</video>
		<p>Hello there, <b id="username"><%= CGI.escapeHTML(session[:id]) %></b>!</p>
		<a href="/user/<%= CGI.escapeHTML(session[:id]) %>">My profile</a><br>
		<a href="/user/<%= CGI.escapeHTML(session[:id]) %>/book_collections">My book collections</a>
		<h2>Sign out</h2>
		<form method="get" action="/signout">
			<input type="submit" value="Sign out"></input>
		</form>

		<script type="text/javascript">
			function GetBook() {
				document.getbook.action = '/book/' + document.getElementById("book").value;
				return true;
			}
			function ChangePassword() {
				document.changepassword.action = '/user/' + '<%= CGI.escapeHTML(session[:id]) %>' + '/change_password';
				return true;
			}
		</script>
		<h2>Get book</h2>
		<form name="getbook" method="get" action="/book" onsubmit="GetBook()">
			<input type="text" id="book" placeholder="OpenLibrary ID"</input>
			<input type="submit" value='Submit'></input>
		</form>

		<h2>Change password</h2>
		<!-- change hardcoded -->
		<form name="changepassword" method="post" action="/user" onsubmit="ChangePassword()">
			<input name="old_pass" id="old_pass" type="password" placeholder="Old password"></input>
			<input name="new_pass" id="new_pass" type="password" placeholder="New password"></input>
			<input type="submit" value='Submit'></input>
		</form>
	<% end %>

	</body>
</html>
